.Header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;

  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #744b81;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.NavList {
  display: flex;
}

.NavLink {
  font-size: 20px;
  color: #fff;

  &:last-child {
    margin-right: 15px;
  }
}

.NavLink--active {
  font-weight: 700;
  color: palegreen;
}

.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Стили компонента ImageGalleryItem
 */
.ImageGalleryItem {
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.ImageGalleryItem-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: blur(0px);
  transition: filter 0.3s ease-in;
}

.ImageGalleryItem:hover {
  transform: scale(1.03);
  .ImageGalleryItem-image {
    filter: blur(2px);
  }
}

.ImageGalleryItem-title {
  padding: 10px;
}
