.AdditionalInfo {
  margin-top: 30px;
}

.NavLinkDetails {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.NavLinkDetails--active {
  // border-radius: 10px;
  border-bottom: 3px solid #000000;
}

.MoviesGallery {
  display: grid;
  max-width: calc(100vw - 250px);
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 16px;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.GoBackBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;

  margin-bottom: 10px;

  width: 100px;
  border-radius: 5px;
  outline-style: none;
  background-color: #925ea1;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;

  &:hover,
  &:focus {
    transform: scale(1.09);

    color: palegreen;
    cursor: pointer;
  }
}
